@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-50 text-zinc-900;
}

.container-main {
  @apply mx-auto w-full max-w-7xl px-4;
}

.masonry {
  column-count: 1;
  column-gap: 1rem;
}

@media (min-width: 640px) {
  .masonry {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}
